<template name="record">
	<!-- <div class="row">
		<div class="col-lg-12">
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newRecordModal">
			  Add new record
			</button>
		</div>
	</div>
	<br><br> -->

	{{#each records}}
	<div class="row">
		<div class="col-xs-12 col-md-5 col-md-offset-1">
			<div class="panel panel-primary">
				<div class="large panel-heading dark-overlay">Clean &amp; Jerk - {{clean.weight}} kg</div>
				<div class="panel-body">
					<img class="center-block" src="http://placehold.it/400">
				</div>
				<div class="panel-footer">
					<div class="text-muted text-right">{{formatDate clean.bestDate}}</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-5">
			<div class="panel panel-primary">
				<div class="large panel-heading dark-overlay">Snatch - {{snatch.weight}} kg</div>
				<div class="panel-body">
					<img class="center-block" src="http://placehold.it/400">
				</div>
				<div class="panel-footer">
					<div class="text-muted text-right">{{formatDate snatch.bestDate}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<div class="panel panel-primary">
				<div class="large panel-heading dark-overlay">Back Squat - {{backSquat.weight}} kg</div>
				<div class="panel-body">
					<img class="center-block" src="http://placehold.it/300">
				</div>
				<div class="panel-footer">
					<div class="text-muted text-right">{{formatDate backSquat.bestDate}}</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="panel panel-primary">
				<div class="large panel-heading dark-overlay">Deadlift - {{deadLift.weight}} kg</div>
				<div class="panel-body">
					<img class="center-block" src="http://placehold.it/300">
				</div>
				<div class="panel-footer">
					<div class="text-muted text-right">{{formatDate deadLift.bestDate}}</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="panel panel-primary">
				<div class="large panel-heading dark-overlay">Bench Press - {{benchPress.weight}} kg</div>
				<div class="panel-body">
					<img class="center-block" src="http://placehold.it/300">
				</div>
				<div class="panel-footer">
					<div class="text-muted text-right">{{formatDate benchPress.bestDate}}</div>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
	<div class="modal fade" id="newRecordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Add a new record</h4>
	      </div>
	      <div class="modal-body">
	        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua&hellip;</p>
					<form id="newRecordForm">
						<div class="form-group">
							<label for="exercise">Select a exercise: </label>
			        <select name="exercise" class="form-control">
			          <option selected="selected" disabled="disabled">Exercise&hellip;</option>
			          <option value="clean">Clean</option>
			          <option value="snatch">Snatch</option>
			          <option value="backSquat">Back Squat</option>
			          <option value="benchPress">Bench Press</option>
								<option value="deadLift">Dead Lift</option>
			        </select>
						</div>
						<div class="input-group">
							<label for="weight">Total weight: </label>
				      <input type="number" name="weight" class="form-control" placeholder="100">
				      <div class="input-group-addon">kg</div>
						</div>
						<div class="input-group">
							<label for="date">Date of the record: </label>
							<div class="input-group datetimepicker">
						    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						    <input class="set-due-date form-control" type="date" name="date"/>
						  </div>
						</div>
		      </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" form="newRecordForm" class="btn btn-primary">Add record</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>
