input[type="text"], input[type="password"], input[type="number"], input[type="email"], textarea, textarea.form-control {
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #333;
  border: 1px solid #333;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #888;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}
textarea, textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}
input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus, textarea.form-control:focus {
  outline: 0;
  background: #444;
  border: 3px solid #555;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder {
  color: #888;
}
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
  color: #888;
}
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
  color: #888;
}
button.btn-modal {
  min-width: 105px;
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #fd625e;
  border: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}
button.btn-modal:hover {
  opacity: 0.6;
  color: #fff;
}
button.btn-modal:active {
  outline: 0;
  opacity: 0.6;
  color: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button.btn-modal:focus {
  outline: 0;
  opacity: 0.6;
  background: #fd625e;
  color: #fff;
}
button.btn-modal:active:focus, button.btn-modal.active:focus {
  outline: 0;
  opacity: 0.6;
  background: #fd625e;
  color: #fff;
}
a, a:hover, a:focus {
  color: #fd625e;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}
::-moz-selection {
  background: #fd625e;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fd625e;
  color: #fff;
  text-shadow: none;
}
.btn-link-1 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 16px 20px 0 20px;
  background: #fd625e;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
  outline: 0;
  opacity: 0.6;
  color: #fff;
}
.btn-link-2 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 15px 20px 0 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, .btn-link-2:active, .btn-link-2:active:focus {
  outline: 0;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

/***** Modal *****/

.modal-content {
  background: #3a3a3a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  text-align: left;
}
.modal-header {
  padding: 25px 25px 15px 25px;
  background: #333;
  border: 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #888;
}
.modal-header .close {
  font-size: 36px;
  color: #eee;
  font-weight: 300;
  text-shadow: none;
  opacity: 1;
}
.modal-title {
  margin-bottom: 10px;
  line-height: 30px;
  color: #eee;
}
.modal-body {
  padding: 25px 25px 30px 25px;
  background: #3a3a3a;
  text-align: left;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.modal-body img {
  margin-bottom: 15px;
}
.modal-body form textarea {
  height: 100px;
}
.modal-body form .input-error {
  border-color: #fd625e;
}
.form-box {
  padding-top: 40px;
}
.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #fff;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: left;
}
.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}
.form-top-left h3 {
  margin-top: 0;
}
.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #ddd;
  line-height: 100px;
  text-align: right;
}
.form-bottom {
  padding: 25px 25px 30px 25px;
  background: #eee;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  text-align: left;
}
form .form-bottom textarea {
  height: 100px;
}
form .form-bottom button.btn {
  min-width: 105px;
}
form .form-bottom .input-error {
  border-color: #fd625e;
}
form.registrationForm fieldset {
  display: none;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (max-width: 767px) {
  .top-content .top-big-link {
    margin-top: 25px;
  }
  .top-content .top-big-link a.btn {
    margin-top: 10px;
  }
  .form-bottom {
    padding-bottom: 25px;
  }
  form .form-bottom button.btn {
    margin-bottom: 5px;
  }
}
